---
---

@import "{{ site.theme }}";

@font-face {                                               
  font-family: 'Novarese';                                
  font-style: normal;                                      
  font-weight: 400;                                        
  src: url(Novarese.ttf);
}                                                          
